:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: #212121;
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --accent-color: #2196f3;
  --item-set-gap: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*  */
/* =========================BASIC AND OTHER========================= */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.section-container-start {
  padding-top: 94px;
}
.section-container-end {
  padding-bottom: 94px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section title */
.section-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--main-title-color);
}

/* Button */
.button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

.button-text {
  text-align: center;
  font-size: 16px;
}
.button-text:active {
  background-color: #188ce8;
}

/* Icons */
.icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.icons-link-icon {
  fill: currentColor;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-label {
  color: var(--accent-color);
}
.logo-header {
  color: #000000;
  margin-right: 93px;
}
.logo-footer {
  color: #ffffff;
  /* margin-bottom: 20px; */
}

/* =========================HEADER========================= */
.page-header {
  padding: 24px 0 25px 0;
  border-bottom: 1px solid #ececec;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-item {
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link.current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  height: 4px;
  width: 100%;
  pointer-events: none;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
}
.contacts-item {
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-icon {
  margin-right: 10px;
}

/* =========================STUDIO PAGE========================= */

/* -------------------------HERO------------------------- */
.hero {
  background-color: #c4c4c4;
}
.hero-bg {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/1x/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-hero {
  padding: 200px 0;
}
.hero-title {
  display: block;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------------------ADVANTAGES------------------------- */
.advantages {
}
.advantages-list {
  display: flex;
}
.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: var(--item-set-gap);
}
.advantages-wrapper {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.advantages-icon {
}
.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

/* -------------------------WE-ARE-DOING------------------------- */
.we-are-doing {
}
.we-are-doing-title {
  margin-bottom: 50px;
}
.we-are-doing-list {
  display: flex;
}
.we-are-doing-item {
}
.we-are-doing-item:not(:last-child) {
  margin-right: var(--item-set-gap);
}
.we-are-doing-wrapper {
  position: relative;
}
.we-are-doing-text {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* -------------------------TEAM------------------------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  max-width: 270px;
  background-color: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: var(--item-set-gap);
}
.team-img {
}
.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-title-color);
}
.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-link {
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}
.team-social-link:hover,
.team-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* -------------------------CLIENTS------------------------- */
.clients {
}
.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--main-title-color);
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}
.clients-link {
  color: #afb1b8;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}

/* =========================PORTFOLIO PAGE========================= */

/* -------------------------PORTFOLIO------------------------- */
.portfolio {
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.63;
  color: var(--third-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:focus {
  color: var(--first-button-color);
  background-color: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.gallery-item {
  max-width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}
.gallery-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-link {
}
.gallery-img-wrapper {
  position: relative;
  overflow: hidden;
}
.gallery-img {
}
.gallery-desc {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.gallery-link:hover .gallery-desc {
  transform: translateY(0);
}
.gallery-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
}
.gallery-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}

/* =========================FOOTER========================= */
.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.container-footer {
  display: flex;
  align-items: baseline;
}

.container-address {
  margin-right: 70px;
}
.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-style: normal;
}
.address-text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
.address-list {
}
.address-item {
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.container-footer-social {
}
.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.footer-social-list {
  display: flex;
}
.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  color: var(--second-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-subs-form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.wrapper-footer-subs {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.footer-subs-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.footer-subs-input {
  height: 50px;
  width: 358px;
  margin-top: 20px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}
.footer-subs-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subs-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-subs-button-icon {
  margin-left: 10px;
}

/* =========================MODALS========================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: overflow var(--transition-duration)
      var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}
.is-hidden {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden:focus {
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  width: 528px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}
.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-icon-close {
  width: 100%;
  height: 100%;
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-button-close:hover .modal-icon-close,
.modal-button-close:focus .modal-icon-close {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-title-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-label {
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}
.wrapper-form-input {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}
.modal-input,
.modal-input-textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.modal-input:focus,
.modal-input-textarea:focus {
  border-color: #2196f3;
}
.modal-input {
  height: 40px;
  padding: 11px 12px 11px 42px;
}
.modal-label-textarea {
}
.modal-input-textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  font-family: inherit;
  resize: none;
}
.modal-input-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label-agree {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
.modal-input-agree {
}
.modal-icon-agree {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.modal-input-agree:checked + .modal-icon-agree {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
}
.modal-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal-button-send {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);

  /* display: block;
  margin: 0 auto; */
}
