.clients {
}
.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.clients__list {
  display: flex;
}
.clients__item {
  width: 170px;
  height: 92px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid currentColor;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #2196f3;
    border-color: currentColor;
  }
}
.clients__icon {
  fill: currentColor;
}
