.clients {
}
.clients__title {
}
.clients__list {
}
.clients__item {
  @include grid-quantity(6);
  width: 170px;
  height: 92px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $color-icon-primary;
  border: 1px solid currentColor;
  border-radius: $border-radius;

  &:hover,
  &:focus {
    color: $color-accent;
    border-color: currentColor;
  }
}
.clients__icon {
  fill: currentColor;
}
