.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__container_left {
  margin-right: 70px;
}
.footer__logo_bottom {
  margin-bottom: 20px;
}
.footer__container_center {
  margin-right: auto;
}
.footer__text {
  font-weight: 700;
  @include font();
  text-transform: uppercase;
  color: #ffffff;
}
.footer__text_bottom {
  margin-bottom: 20px;
}
.footer__social-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $t-duration $t-timing-func;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
