.preference {
}
.preference__list {
}
.preference__item {
  @include grid-quantity(4);
  width: 270px;
}
.preference__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: $border-radius;
}
.preference__wrap_bottom {
  margin-bottom: 30px;
}
.preference__title {
  @include font();
  text-transform: uppercase;
  color: $color-title-primary;
}
.preference__title_bottom {
  margin-bottom: 10px;
}
.preference__text {
  @include font(1.71);
  color: #757575;
}
