.address {
  font-style: normal;
}
.address__text {
  @include font(1.71);
  color: #ffffff;
}
.address__text_bottom {
  margin-bottom: 9px;
}
.address__list {
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  @include font(1.71);
  color: rgba(255, 255, 255, 0.6);
}
