.contacts {
  display: flex;
  align-items: center;
}
.contacts__item_right:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  @include font($ls: 0.02em);
  color: $color-text-primary;
  transition: color $t-duration $t-timing-func;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.contacts__icon {
  fill: currentColor;
}
.contacts__icon_right {
  margin-right: 10px;
}
