.gallery__item {
  width: 100%;
  transition: box-shadow $t-duration $t-timing-func;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    @include grid-quantity(2);
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    @include grid-quantity(3);
    width: 370px;
  }
}
.gallery__wrap-img {
  position: relative;
  overflow: hidden;
}
.gallery__desc {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  @include font(1.56, 18px);
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $t-duration $t-timing-func;

  .gallery__link:hover & {
    transform: translateY(0);
  }
}

.gallery__wrap-info {
  padding: 20px 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.gallery__title {
  @include font(2, 18px, 0.06em);
  color: $color-title-primary;
}
.gallery__title_bottom {
  margin-bottom: 4px;
}
.gallery__text {
  @include font(1.88, 16px);
  color: $color-text-primary;
}
