.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  @include font(1.17, 24px);
  // font-size: 24px;
  // line-height: 28px;

  //   display: block;
  //   @include font(1.19, 26px);
}
.logo__label {
  color: $color-accent;
}
.logo_color_dark {
  color: #000000;
}
.logo_color_light {
  color: #ffffff;
}
