.subs {
  display: flex;
  align-items: flex-end;
}
.subs__wrap_left {
  margin-right: 12px;
}
.subs__title {
  font-weight: 700;
  @include font();
  text-transform: uppercase;
  color: #ffffff;
}
.subs__title_bottom {
  margin-bottom: 20px;
}
.subs__input {
  width: 358px;
  height: 50px;
  padding: 0 16px;
  @include font(1.25, 16px);
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.subs__button {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.subs__icon {
  fill: currentColor;
}
.subs__icon_left {
  margin-left: 10px;
}
